body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1f1f1f;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bb86fc;
}

.portal {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #ffffff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6200ea;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

p {
    text-align: center;
}

p a {
    color: #bb86fc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

section {
    padding: 50px;
    text-align: center;
}

section h1 {
    color: #ffffff;
}

section p {
    color: #cccccc;
}
